body
{
	background-image: url("https://cdn.wallpapersafari.com/8/79/swQOLN.jpg");
}

.login_div1 , .login_div2
{
background: teal;
padding: 10px;
float: none;
border-radius: 15px;
width: 30%;
height: 150px;
background-color: crimson;
}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 3px;
	color: turquoise;
	font-weight: bold;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: fuchsia;
border-radius: 10px;
border-top: 10px solid darkcyan;
padding: 10px;
float: none;
text-align: left;
}
h1{
	color:darkmagenta;
	font-family:cursive;
}
h3{
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: teal;
}
label{
	font-family: cursive;
	color: turquoise;
}
button{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input:hover{
	background-color: darkviolet;
}
div:hover{
	border: 5px solid blueviolet;
	width: 35%;
}